<%= simple_form_for @post do |f| %>
  <div class="mt-4">
    <%= f.input :title %>
  </div>
  <div class="mt-4">
    <%= f.input :content %>
  </div>
  <div class="mt-4">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
