<h1 class="mt-4">Edit Post</h1>

<%= render 'shared/errors', model: @post %>
<%= render partial: "form"%>
<div class="mt-4">
	<%= button_to 'Back', :back, method: :get, class: "btn btn-primary" %>
</div>
