<h1 class="mt-4">New Post</h1>

<%= render 'shared/errors', model: @post %>
<%= render partial: "form"%>

<div class="btn btn-primary mt-4">
	<%= link_to 'Back', posts_path, class: "link-light", class: "link-light" %>	
</div>
